.App{
  text-align: center;
}
.card-container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  margin: 27px;
  justify-content: center;
  
}
.cart-value{
  display: flex;
  justify-content: end;
  margin: 15px;
  font-size: larger;
  
}

.card-data{
   width: 450px;
}
.size{
  height: 250px;
}
.card-data{
  background-color: black;
  color: white;
}
.template{
  background-image: url();
}
.background{
  background-image: url('img.png');
  height:300px;
  width:100%
  
}
h1,span{
  color:white;
  background-color: rgb(37, 3, 3);
  align-items: center;
  justify-content: center;
  width:200px;
}
